﻿@using GeekStream.Core.ViewModels
@model GeekStream.Core.ViewModels.MessangerViewModel

@{
    var chats = ViewBag.Chats as IEnumerable<MessangerViewModel>;
    var currentChat = ViewBag.CurrentChat as MessangerViewModel;
    if (Model != null)
    {
        ViewData["ChatId"] = Model.Id;
    }

}

<style>
    .container-left {
        width: 80%;
        top: 112px;
        float: left;
        margin-right: auto;
        margin-left: auto;
        padding-right: 2%;
    }

    .internal-container-left {
        width: 15%;
        height: 84% !important;
        float: left;
        margin-right: auto;
        margin-left: auto;
        padding-left: 2%;
    }

    .internal-container-right {
        width: 80%;
        padding-right: 3%;
        float: right;
        margin-right: auto;
        margin-left: auto;
        padding-left: 2%;
    }
</style>


<div class="container-right">
    <h4>Пользователи</h4>
    @await Html.PartialAsync("_UsersPartialMini", ViewBag.Users as IEnumerable<UserViewModel>)
</div>

<div class="container-left">
    <h3 class="">Обсуждения</h3>
    <div class="card text-dark bg-light">
        <div class="card-body">
            <div class="internal-container-left">
                @if (User.IsInRole("Moder"))
                {
                    <a class="btn btn-geekstream" href=@Url.Action("CreateChat","Message")>
                        Создать обсуждение
                    </a>
                }
                @foreach (var chat in chats)
                {
                    <a class="nav-link text-dark border border-dark rounded-lg" href=@Url.Action("Chat","Message", new { Id = chat.Id })>
                        @Html.DisplayFor(item => chat.Name)
                    </a>
                }
            </div>
            @if (Model != null)
            {
                <div class="internal-container-right">
                    <h3>@Model.Name</h3>
                    @await Html.PartialAsync("Chat", Model.Messages)
                </div>
            }
            else
            {
                <div class="internal-container-right">
                    <h3>Обсуждение не выбрано</h3>
                    <small class="text-muted">Выберите подходящее обсуждение</small>
                </div>
            }
        </div>
    </div>
</div>

