﻿@using GeekStream.Core.ViewModels
@model IEnumerable<GeekStream.Core.ViewModels.MessageViewModel>

@await Html.PartialAsync("_ChatListPartial", Model)

<div class="">
    @if (User.Identity.IsAuthenticated)
    {
        MessageViewModel Message = new MessageViewModel();
        @await Html.PartialAsync("_CreateMessagePartial", Message);
    }
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>