﻿@model GeekStream.Core.ViewModels.MessangerViewModel

@{ 
    var pageTitle = ViewData["Title"] as string;
}
   
 <style>
        .container-center {
            width: 30%;
            top: 112px;
            margin-right: auto;
            margin-left: auto;
        }

        .card {
            padding-left: 3%;
            padding-right: 3%;
        }
    </style>

    <div class="container-center card text-dark bg-light rounded">
        <div class="card-body">
            <div class="center">
                <img src="~/Assets/Imgs/Logo.png" />
                <h3 class="center">@pageTitle</h3>
                <form asp-action="CreateChat">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Название обсуждения" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <div class="form-group right">
                        <input type="submit" value="Создать обсуждение" class="btn btn-geekstream" />
                    </div>

                </form>
            </div>
        </div>
    </div>