﻿@using GeekStream.Core.ViewModels
@model IEnumerable<GeekStream.Core.ViewModels.DialogMessageViewModel>

@{
    var dialogReceiver = ViewData["dialogReciever"] as string;
}
<style>
    .container-left {
        margin-top : 15px;
        position: fixed;
        width: 70%;
    }

    .bg-geekStream {
        background: #E5E5E5
    }
</style>

<input type="hidden" value="@User.Identity.Name" id="authenticatedUser" />

<div class="container-right">
    <h4>Пользователи</h4>
    @await Html.PartialAsync("_UsersPartialMini", ViewBag.Users as IEnumerable<UserViewModel>)
</div>
<h3>Диалог с @dialogReceiver</h3>

<div>
    <div class="container-left">
        <div class="card text-dark bg-light">
            <div class="card-body" id="messagesList">

                @foreach (var message in Model)
                {
                    @if (message.AuthorName == User.Identity.Name)
                    {
                        <div class="container">
                            <div class=" d-flex justify-content-end">
                                <div>
                                    <div class="card bg-geekStream">
                                        <div class="card-body">
                                            <h5>@message.AuthorName</h5>
                                            <p>@message.Content</p>
                                        </div>
                                    </div>
                                    <small class="text-muted mb-1">@message.SendedTime</small>
                                </div>

                            </div>
                        </div>
                    }
                    @if (message.AuthorName != User.Identity.Name || !User.Identity.IsAuthenticated)
                    {
                        <div class="container">
                            <div class=" d-flex justify-content-start">
                                <div>
                                    <div class="card bg-geekStream">
                                        <div class="card-body">
                                            <h5>@message.AuthorName</h5>
                                            <p>@message.Content</p>
                                        </div>
                                    </div>
                                    <small class="text-muted mb-1">@message.SendedTime</small>
                                </div>

                            </div>
                        </div>

                    }
                }
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            DialogMessageViewModel message = new DialogMessageViewModel();
            message.ReceiverName = dialogReceiver;
            <form class="form-group mt-3" method="post">
                <input type="hidden" id="receiverNameInput" placeholder="Ник" asp-for="@message.ReceiverName" />
                <textarea type="text" class="form-control" id="messageDialogInput" placeholder="Твой комментарий" asp-for="@message.Content" required></textarea>
                <span asp-validation-for="@message.Content" class="text-danger"></span>
                <button id="sendDialogButton" class="btn btn-primary" type="button">Отправить</button>
            </form>}

    </div>
</div>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Dialog.js"></script>
