﻿@model IEnumerable<GeekStream.Core.ViewModels.ArticleViewModel>

@foreach (var item in Model)
{
    <div class="card text-dark bg-light mb-3">
        <div class="card-body">
            <div class="card-head">
                <div class="left row">
                    <strong>@item.Category.Name</strong>
                </div>
                <div class="right row">
                    <div class="col">
                        <img src="~/@item.Author.Avatar.Path" height="26" width="26" class="rounded-circle" />
                    </div>
                    <div class="col"><strong>@item.Author.UserName</strong></div>
                    <div class="col">
                        <div class="dropdown">
                            <img src="~/Assets/Imgs/Icons/Three dots.png" height="22" width="22" class="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item text-info" href=@Url.Action("Article", "Articles", new { Id = item.Id})>Читать полностью</a>
                                </li>
                                @if (User.IsInRole("Moder"))
                                {
                                    @if (item.ApprovedDate == null)
                                    {
                                        <li>
                                            <a class="dropdown-item text-secondary" href=@Url.Action("ApproveArticle", "Articles", new { Id = item.Id})>Одобрить</a>
                                        </li>
                                    }
                                    @if (item.ApprovedDate != null)
                                    {
                                        <li>
                                            <a class="dropdown-item text-secondary" href=@Url.Action("DisApproveArticle", "Articles", new { Id = item.Id})>Забраковать</a>
                                        </li>
                                    }
                                }
                                @if (item.Author.UserName == User.Identity.Name)
                                {
                                    @if (item.PublishedDate == null)
                                    {
                                        @if (item.ApprovedDate != null)
                                        {
                                            <li>
                                                <a class="dropdown-item text-success" href=@Url.Action("PublishArticle", "Articles", new { Id = item.Id})>Опубликовать</a>
                                            </li>
                                        }
                                        <li>
                                            <a class="dropdown-item text-dark" href=@Url.Action("Edit", "Articles", new { Id = item.Id})>Изменить</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-danger" href=@Url.Action("Delete","Articles", new { Id=item.Id})>Удалить</a>
                                        </li>

                                    }
                                    @if (item.PublishedDate != null)
                                    {
                                        <li>
                                            <a class="dropdown-item text-dark" href=@Url.Action("DisPublishArticle", "Articles", new { Id = item.Id})>Вернуть в черновики</a>
                                        </li>
                                    }
                                    
                                }

                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <h3>
                    <a class="nav-link center card-title text-dark" article-title" href=@Url.Action("Article","Articles", new { Id = item.Id})>@item.Title</a>
            </h3>
            

            <div class="center">
                <div class="img-card-box zoomed-image">
                    <img src="~/@item.Image.Path" class="crop" />
                </div>
            </div>

            <p>
                <div class="card-text nav-text text-truncate">
                    @item.Content
                </div>
            </p>

            <div class="card-text nav-text">
                <img src="~/Assets/Imgs/Icons/Chat.png" height="22" width="22">
                @item.Comments.Count()
                <div class="right">
                    <div class="row row-cols-auto">
                        <div class="col">
                            <a asp-action="ChangeHonor" asp-controller="Articles" asp-route-id="@item.Id" asp-route-delta="+1">
                                <img src="~/Assets/Imgs/Icons/Caret up.png" height="22" width="22">
                            </a>
                        </div>
                        @if (item.Honor >= 0)
                        {
                            <div class="col">
                                <div class="text-success">
                                    @item.Honor
                                </div>
                            </div>
                        }
                        @if (item.Honor < 0)
                        {
                            <div class="col">
                                <div class="text-danger">
                                    @item.Honor
                                </div>
                            </div>
                        }
                        <div class="col">
                            <a asp-action="ChangeHonor" asp-controller="Articles" asp-route-id="@item.Id" asp-route-delta="-1">
                                <img src="~/Assets/Imgs/Icons/Caret down.png" height="22" width="22">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
