﻿@using GeekStream.Core.ViewModels
@model IEnumerable<GeekStream.Core.ViewModels.ArticleViewModel> 


<div class="accordion accordion-flush" id="articles">
        @foreach (var item in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-@item.Id">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.Id" aria-expanded="false" aria-controls="collapse-@item.Id">
                        <div class="container">
                            <div class="row">
                                <div class="col-10"><strong>@item.Title</strong></div>
                                <div class="col-2"><strong>@item.Author.UserName</strong></div>
                            </div>
                        </div>     
                    </button>
                </h2>
                <div id="collapse-@item.Id" class="accordion-collapse collapse" aria-labelledby="heading-@item.Id" data-bs-parent="#articles">
                    <div class="accordion-body">
                        @item.Category.Name
                        <a class="btn btn-geekstream" href=@Url.Action("Article","Articles", new { Id=item.Id})>
                            Читать полностью
                        </a>
                        @if ((User.Identity.Name == item.Author.UserName) || User.IsInRole("Moder"))
                        {
                            <a class="btn btn-danger" href=@Url.Action("Delete","Articles", new { Id=item.Id})>Удалить</a>
                        }
                        <p>Оценка: @item.Honor</p>
                    </div>
                </div>
            </div>
        }
</div>

            








