﻿@model IEnumerable<GeekStream.Core.ViewModels.CategoryViewModel>

<div>
    @foreach(var category in Model)
    {
    <div class="card text-dark bg-light mb-3">
        <div class="card-body">
            <a class="nav-link text-dark" href=@Url.Action("ArticlesByCategory","Articles", new { Id = category.Id })>
                <img src="~/@category.Image.Path" width="24" height="24" />
                @Html.DisplayFor(modelItem => category.Name)
            </a>
        </div>
    </div>
    }
</div>