﻿@model GeekStream.Core.ViewModels.CategoryViewModel

<style>
    .img-category-card-box {
        width: 100%;
        height: 150px;
        overflow: hidden;
        position: relative;
    }
</style>

<div class="card text-dark bg-light mb-3">
    <div class="card-body text-dark">
        <div class="center">
            <div class="img-category-card-box zoomed-image">
                <img src="~/@Model.Image.BackGroundPath" class="crop" />
            </div>
        </div>
        <a class="nav-link text-dark left" href=@Url.Action("ArticlesByCategory","Articles", new { Id = Model.Id })>
            <strong>
                @Model.Name
            </strong>
        </a>

    </div>
</div>