﻿@model IEnumerable<GeekStream.Core.ViewModels.MessageViewModel>
<input type="hidden" value="@User.Identity.Name" id="authenticatedUser"/>

<div  id="messagesList">
    @foreach (var message in Model)
    {
        @if (message.AuthorName == User.Identity.Name)
        {
        <div class="container">
            <div class=" d-flex justify-content-end">
                <div>
                    <div class="card bg-geekStream">
                        <div class="card-body">
                            <h5>@message.AuthorName</h5>
                            <p>@message.Content</p>
                        </div>
                    </div>
                    <small class="text-muted mb-1">@message.SendedTime</small>
                </div>
                
            </div>
        </div>
            
        }
        @if (message.AuthorName != User.Identity.Name || !User.Identity.IsAuthenticated)
        {
        <div class="container">
            <div class=" d-flex justify-content-start">
                <div>
                    <div class="card bg-geekStream">
                        <div class="card-body">
                            <h5>@message.AuthorName</h5>
                            <p>@message.Content</p>
                        </div>
                    </div>
                    <small class="text-muted mb-1">@message.SendedTime</small>
                </div>
                
            </div>
        </div>
            
        }
    }
</div>
