﻿@model IEnumerable<GeekStream.Core.ViewModels.CommentViewModel>

@foreach (var comment in Model)
{
    <div class="bg-light">
        <p class="card-header">
            @comment.AuthorName
        </p>
        <p class="card-body">
            @comment.Content
        <p>
            <a class="btn btn-success" asp-action="ChangeHonor" asp-controller="Comment" asp-route-id="@comment.Id" asp-route-delta="+1" asp-route-authorId="@comment.AuthorId"><img src="~/Assets/Imgs/Icons/Caret up.png" width="22" height="22" /></a>
            @comment.Honor
            <a class="btn btn-danger" asp-action="ChangeHonor" asp-controller="Comment" asp-route-id="@comment.Id" asp-route-delta="-1" asp-route-authorId="@comment.AuthorId"><img src="~/Assets/Imgs/Icons/Caret up.png" width="22" height="22" /></a>
        </p>
        </p>
    </div>
}