﻿@model GeekStream.Core.ViewModels.MessageViewModel

@{
    var chatId = ViewData["ChatId"] as int?;
}
<div asp-validation-summary="ModelOnly"></div>

<form class="form-group mt-3" method="post">
    <input type="hidden" id="chatId" placeholder="айди чата" asp-for="@chatId" />
    <input type="hidden" id="userInput" placeholder="Имя пользователя" asp-for="@Model.AuthorName" />
    <textarea type="text" class="form-control" id="messageInput" placeholder="Ваше сообщение" asp-for="@Model.Content" required></textarea>
    <span asp-validation-for="@Model.Content" class="text-danger"></span>
    <button id="sendButton" class="btn btn-primary" type="button">Отправить</button>
</form>
