﻿@using GeekStream.Core.ViewModels
@model  GeekStream.Core.ViewModels.CreateCommentViewModel 

<h3>Новый комментарий</h3>
<hr />
<div class="form-group">
    <form asp-action="Create" asp-controller="Comment">
        <input type ="hidden" asp-for="@Model.ArticleId" />
        <textarea class="form-control" asp-for="@Model.Content" placeholder="Комментарий" required></textarea>
        <span asp-validation-for="@Model.Content" class="text-danger"></span>
        <div class="form-group">
            <input type="submit" value="Оставить комментарий" class="btn btn-primary" />
        </div>
    </form>
</div>
<hr />
