﻿@using GeekStream.Core.Abstractions
@inject IUserService _userService;

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow justify-content-between">

    <ul class="nav justify-content-start">
        <li>
            <a href=@Url.Action("Articles","Articles")>
                <img src="~/Assets/Imgs/Logo.png">
            </a>
            
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Moder"))
            {
                <li class="nav-item dropdown  nav-li-margin">
                    <a class="nav-text nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Статьи
                    </a>
                    <ul class="nav-text dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item nav-text " asp-controller="Articles" asp-action="NotApprovedArticles">Непроверенные</a></li>
                        <li><a class="dropdown-item nav-text" asp-controller="Articles" asp-action="NotPublishedArticles">Неопубликованные статьи</a></li>
                        <li><a class="dropdown-item nav-text" asp-controller="Articles" asp-action="Articles">Опубликованные</a></li>
                        <li><a class="dropdown-item nav-text" asp-controller="Articles" asp-action="NotPublishedUserArticles">Черновки</a></li>
                    </ul>
                </li>
            }
            else if (User.IsInRole("User"))
            {
                <li class="nav-item dropdown nav-li-margin">
                    <a class="nav-link dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Статьи
                    </a>
                    <ul class="nav-text dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item nav-text" asp-controller="Articles" asp-action="Articles">Статьи</a></li>
                        <li><a class="dropdown-item nav-text" asp-controller="Articles" asp-action="SubscriptionArticles">Отслеживаемое</a></li>
                        <li><a class="dropdown-item nav-text" asp-controller="Articles" asp-action="NotPublishedUserArticles">Черновки</a></li>
                    </ul>
                </li>
            }
        }
        else
        {
            <li class="nav-item nav-li-margin"><a class="nav-link nav-text" asp-controller="Articles" asp-action="Articles">Статьи</a></li>
        }
        <li class="nav-item  nav-li-margin">
            <a class="nav-link nav-text" asp-controller="Categories" asp-action="Categories">Категории</a>
        </li>
        <li class="nav-item  dropdown nav-li-margin">
            <a class="nav-link dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Пользователи
            </a>
            <ul class="nav-text dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item nav-text" asp-controller="Users" asp-action="Users">Пользователи</a></li>
                <li><a class="dropdown-item nav-text" asp-controller="Users" asp-action="Authors">Авторы</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-link nav-text" asp-controller="Message" asp-action="Chats">Чат</a>
        </li>
        <li class="nav-item nav-li-margin">
            <a class="btn btn-geekstream" asp-controller="Articles" asp-action="Create">Создать статью</a>
        </li>
    <li class="nav-item nav-li-margin">
        @await Html.PartialAsync("_SearchingAreaSharedPartial")
    </li>
    </ul>
    <ul class="nav justify-content-end mr-5">
        @if (User.Identity.IsAuthenticated)
        {
            var user = _userService.GetUserById();
            
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link text-dark dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong class="mr-2">
                            @user.UserName
                        </strong>
                        <img src="~/@user.Avatar.Path" width="35" height="35" class="rounded-circle" />
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item text-secondary" asp-action="UserInfo" asp-controller="Users" asp-route-userId="@user.Id">Профиль</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" asp-action="UserSignOut" asp-controller="Users">Выйти</a>
                        </li>
                    </ul>
                </div>
                
            </li>           
        }
        else
        {
            <li class="nav-item">
                <a class="btn btn-common nav-text" asp-area="" asp-controller="Users" asp-action="Login">Вход</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-common nav-text" asp-area="" asp-controller="Users" asp-action="Registration">Регистрация</a>
            </li>
        }
    </ul>
</nav>
