﻿@{ 
    string line = "";
}
<form class="d-flex" asp-controller="Articles" asp-action="SearchArticle" method="get">
    <input class="form-control me-2 " asp-for="@line" type="search" placeholder="Поиск статей"  required />
</form>
