﻿@model IEnumerable<GeekStream.Core.ViewModels.UserViewModel>

<div>
    <div class="card text-dark bg-light mb-3">
        <div class="card-body text-dark">
            <a class="nav-link text-dark" href=@Url.Action("SubscriptionArticles","Articles")>
                Отслеживаемое
            </a>
        </div>
    </div>
    @foreach (var subscription in Model)
    {
        <div class="card text-dark bg-light mb-3">
            <div class="card-body text-dark">
                <a class="nav-link text-dark" href=@Url.Action("PublishedUserArticles","Articles", new { userId = subscription.Id })>
                    @Html.DisplayFor(modelItem => subscription.UserName)
                </a>
            </div>
        </div>
    }
</div>
