﻿@using System.Security.Claims;
@model IEnumerable<GeekStream.Core.ViewModels.UserViewModel>

<div>
    @foreach (var item in Model)
    {
        <div class="card text-dark bg-light mb-3">
            <div class="card-header">
                @if (item.Confirmed)
                {
                    <img src="~/@item.Avatar.Path" class="rounded-circle border border-success" width="40" height="40" />
                }
                @if (!item.Confirmed)
                {
                    <img src="~/@item.Avatar.Path" class="rounded-circle border border-danger" width="40" height="40" />
                }
                <a class="btn text-dark" href=@Url.Action("UserInfo","Users", new { userId = item.Id})>@item.UserName</a>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (!(User.FindFirst(ClaimTypes.NameIdentifier).Value == item.Id))
                    {
                        <a class="btn btn-common right" href=@Url.Action("Dialog", "Message", new { UserName = item.UserName })><img src="~/Assets/Imgs/Icons/Chat.png" height="20" width="20"/></a>
                    }
                }
            </div>
        </div>
    }
</div>