﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/*-------------------------------fonts---------------------------------------*/
.nav-text {
    color: #828282 !important;
    font-size: 20px;
    line-height: 24px;
}

.page-title-text {
    color: #000000;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.truncate-text {
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
    -webkit-line-clamp: 3; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
}

.link-geekstream {
    color: #7B61FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.article-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #383838;
}

/*---------------------------------------------------------------------------*/
.card-head {
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

/*------------------------------images---------------------------------------*/
.img-card-box {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}


.zoomed-image {
    overflow: hidden;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.zoomed-image img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.zoomed-image img:hover {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.article-detail-img {
    max-width: 100%;
    height: auto;   
}

.crop {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: auto;
    height: auto;
}
/*--------------------------------------------------------------------*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.center {
    margin: auto;
    text-align: center;
}

.left {
    float: left;
}

.right{
 
    float : right;
}

.closeRight {
    float: right;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

main {
    /* Margin bottom by footer height */ 
    margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.btn-geekstream {
    color: white !important;
    background: #7b61ff;
}

.btn-geekstream:hover {
    background: #6447ff !important;
}

.btn-common {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    position: static;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 8px;
    /* Inside Auto Layout */
    margin: 0px 20px;
}



.nav-li-margin {
    margin-left: 6px;
    margin-right: 6px;
}

.categorySideList{
    float : left;
    margin-left : 50px;
}

/* body container*/
.container-s1 {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

/* left list container*/
.container-left {
    width: 20%;
    top: 112px;
    float: left;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1%;
}

.container-right {
    width: 20%;
    top: 112px;
    float: right;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1%;
}

.container-center {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.bg-geekStream {
    background: #E5E5E5
}


/* специальная кнопка*/
/* Основные стили */
.wave-btn {
    width: 280px;
    height: 60px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    overflow: hidden;
    position: relative;
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    text-decoration: none;
}

    .wave-btn:hover {
        border-radius: 10px;
        transition: all 0.8s ease 0.2s;
        -webkit-transition: all 0.8s ease 0.2s;
        -moz-transition: all 0.8s ease 0.2s;
        -ms-transition: all 0.8s ease 0.2s;
        -o-transition: all 0.8s ease 0.2s;
        -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
        box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    }

        .wave-btn:hover .wave-btn__waves {
            top: -50px;
        }

.wave-btn__text {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    z-index: 1;
}

.wave-btn__waves {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: #7B61FF;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 0 0 50px rgba(248, 248, 248, 0.5);
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
}

    .wave-btn__waves:after,
    .wave-btn__waves:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 250%;
        height: 250%;
        transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }

    .wave-btn__waves:before {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 48%;
        animation: waves 5s infinite linear;
        -webkit-animation: waves 5s infinite linear;
        -moz-animation: waves 5s infinite linear;
        -o-animation: waves 5s infinite linear;
    }

    .wave-btn__waves:after {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 44%;
        animation: waves 10s infinite linear;
        -webkit-animation: waves 10s infinite linear;
        -moz-animation: waves 10s infinite linear;
        -o-animation: waves 10s infinite linear;
    }

@keyframes waves {
    0% {
        transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    }
}

@-webkit-keyframes waves {
    0% {
        transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    }
}

@-moz-keyframes waves {
    0% {
        transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    }
}

@-o-keyframes waves {
    0% {
        transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    }
}
/*специальная кнопка конец*/


