﻿@using GeekStream.Core.ViewModels;
@model IEnumerable<GeekStream.Core.ViewModels.ArticleViewModel>

@{
    var pageTitle = ViewData["Title"] as string;
}

<div>
    <div class="container-left">
        <h4>Категории</h4>
        @await Html.PartialAsync("_CategoriesSideList", ViewBag.Categories as IEnumerable<CategoryViewModel>)

        <div class="card text-dark bg-light mb-3">
            <div class="card-body text-dark">
                <a class="nav-link text-dark" href=@Url.Action("Articles","Articles")>
                    Общее
                </a>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            @if (ViewBag.Subscriptions as IEnumerable<UserViewModel> != null && (ViewBag.Subscriptions as IEnumerable<UserViewModel>).Count() != 0)
            {
                <h4>Подписки</h4>
                @await Html.PartialAsync("_SubscriptionsSideList", ViewBag.Subscriptions as IEnumerable<UserViewModel>)
            }

        }

    </div>
    
    <div class="container-right">
        <h4>Пользователи</h4>
        @await Html.PartialAsync("_UsersPartialMini", ViewBag.Users as IEnumerable<UserViewModel>)
    </div>

    <div class="container-center">
        @if(ViewBag.Category as CategoryViewModel != null)
        {
            @await Html.PartialAsync("_CategoryCardPartial", ViewBag.Category as CategoryViewModel)
        }
        <h4>@pageTitle</h4>
        @await Html.PartialAsync("_ArticleCardPartial")
    </div>


</div>



