﻿@using GeekStream.Core.Services;
@model IEnumerable<GeekStream.Core.ViewModels.ArticleViewModel>

@{
    ViewData["Title"] = "Статьи категории";
}

@{
    var CategoryName = ViewData["CategoryName"] as string;
}

<h1>Категория: @CategoryName</h1>
<hr />

@await Html.PartialAsync("_ArticleCardPartial")