﻿@using GeekStream.Core.ViewModels;
@model GeekStream.Core.ViewModels.ArticleViewModel

<div class="container-left">
    <h4>Категории</h4>
    @await Html.PartialAsync("_CategoriesSideList", ViewBag.Categories as IEnumerable<CategoryViewModel>)
    @if (User.Identity.IsAuthenticated)
    {
        @if (ViewBag.Subscriptions as IEnumerable<UserViewModel> != null && (ViewBag.Subscriptions as IEnumerable<UserViewModel>).Count() != 0)
        {
            <h4>Подписки</h4>
            @await Html.PartialAsync("_SubscriptionsSideList", ViewBag.Subscriptions as IEnumerable<UserViewModel>)
        }

    }
</div>

<div class="container-right">
    <h4>Пользователи</h4>
    @await Html.PartialAsync("_UsersPartialMini", ViewBag.Users as IEnumerable<UserViewModel>)
</div>
<div class="container-center">
    <div class="card text-dark bg-light ">
        <div class="card-body">
            <div class="container d-flex justify-content-between mr-auto p-2" >
                <div ><b>Категория: </b>@Model.Category.Name</div>
                @if (User.Identity.Name == Model.Author.UserName || User.IsInRole("Moder"))
                {
                    <div class="dropdown">
                        <img src="~/Assets/Imgs/Icons/Three dots.png" height="22" width="22" class="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Moder"))
                            {
                                @if (Model.ApprovedDate == null)
                                {
                                    <li>
                                        <a class="dropdown-item text-secondary" href=@Url.Action("ApproveArticle", "Articles", new { Id = Model.Id})>Одобрить</a>
                                    </li>
                                }
                                @if (Model.ApprovedDate != null)
                                {
                                    <li>
                                        <a class="dropdown-item text-secondary" href=@Url.Action("DisApproveArticle", "Articles", new { Id = Model.Id})>Забраковать</a>
                                    </li>
                                }
                            }
                            @if (Model.Author.UserName == User.Identity.Name)
                            {
                                @if (Model.PublishedDate == null)
                                {
                                    @if (Model.ApprovedDate != null)
                                    {
                                        <li>
                                            <a class="dropdown-item text-success" href=@Url.Action("PublishArticle", "Articles", new { Id = Model.Id})>Опубликовать</a>
                                        </li>
                                    }
                                    <li>
                                        <a class="dropdown-item text-dark" href=@Url.Action("Edit", "Articles", new { Id = Model.Id})>Изменить</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" href=@Url.Action("Delete","Articles", new { Id=Model.Id})>Удалить</a>
                                    </li>

                                }
                                @if (Model.PublishedDate != null)
                                {
                                    <li>
                                        <a class="dropdown-item text-dark" href=@Url.Action("DisPublishArticle", "Articles", new { Id = Model.Id})>Вернуть в черновики</a>
                                    </li>
                                }

                            }

                        </ul>
                    </div>
                }

            </div>
            

            <h4 class="mr-auto p-2">
                @Model.Title
            </h4>

            <p class="mr-auto p-2">@Model.Content</p>

            <div class="center mr-auto p-2">
                <img src="~/@Model.Image.Path" class="article-detail-img" />
            </div>

            <p class="mr-auto p-2">
                <strong>Теги: </strong>@Model.Tags
            </p>

            <div class="d-flex">
                <div class="mr-auto p-2">
                    @if (Model.ApprovedDate == null)
                    {
                        <p class="card-text text-danger d-flex justify-content-start"><strong>Не одобрен</strong></p>
                        @if (User.IsInRole("Moder") && Model.ApprovedDate == null)
                        {
                            <a class="btn btn-outline-primary" href=@Url.Action("ApproveArticle", "Articles", new { Id = Model.Id})>Одобрить</a>
                        }
                    }
                    @if (Model.ApprovedDate != null)
                    {
                        <p class="card-text d-flex justify-content-start"><strong>Дата подтверждения: </strong> @Model.ApprovedDate.ToString()</p>
                    }
                </div>
                
                <div class="p-2">
                    @if (Model.PublishedDate == null)
                    {
                        <p class="card-text text-danger d-flex justify-content-end"><strong>Не опубликован</strong></p>
                        @if (Model.Author.UserName == User.Identity.Name && Model.ApprovedDate != null)
                        {
                            <a class="btn btn-outline-primary d-flex justify-content-end" href=@Url.Action("PublishArticle", "Articles", new { Id = Model.Id})>Опубликовать</a>
                        }
                    }
                    @if (Model.PublishedDate != null)
                    {
                        <p class="card-text d-flex justify-content-end"><strong>Дата публикации: </strong> @Model.PublishedDate.ToString()</p>
                    }
                </div>  
            </div>

                <div class="d-flex">
                    <div class="mr-auto p-2">
                        <img src="~/@Model.Author.Avatar.Path" width="22" height="22" class="rounded-circle" />
                        <a class="btn text-dark" href=@Url.Action("UserInfo","Users", new { userId = Model.Author.Id})>@Model.Author.FirstName @Model.Author.LastName</a>
                    </div>
                        <div class="d-flex flex-row ">
                            <div class="d-flex justify-content-start ml-2 mr-2 p-2">
                                <a asp-action="ChangeThisHonor" asp-controller="Articles" asp-route-id="@Model.Id" asp-route-delta="+1">
                                    <img src="~/Assets/Imgs/Icons/Caret up.png" height="22" width="22">
                                </a>
                            </div>
                            @if (Model.Honor >= 0)
                            {
                                <div class="d-flex justify-content-center ml-2 mr-2 p-2">
                                    <div class="text-success">
                                        @Model.Honor
                                    </div>
                                </div>
                            }
                            @if (Model.Honor < 0)
                            {
                                <div class="d-flex justify-content-center ml-2 mr-2 p-2">
                                    <div class="text-danger">
                                        @Model.Honor
                                    </div>
                                </div>
                            }
                            <div class="d-flex justify-content-end ml-2 mr-2 p-2">
                                <a asp-action="ChangeThisHonor" asp-controller="Articles" asp-route-id="@Model.Id" asp-route-delta="-1">
                                    <img src="~/Assets/Imgs/Icons/Caret down.png" height="22" width="22">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>     

            @if (User.Identity.IsAuthenticated)
            {
                CreateCommentViewModel commentViewModel = new CreateCommentViewModel();
                commentViewModel.ArticleId = Model.Id;
                <div class="p-2">
                    @await Html.PartialAsync("_CreateCommentPartial", commentViewModel)
                </div>
                
            }

            @if (Model.Comments.Count() > 0)
            {
                <div class="p-2">
                    @await Html.PartialAsync("_CommentsListPartial", Model.Comments)
                </div>

                
            }
        </div>
    </div>
</div>
