﻿@using GeekStream.Core.Services;
@using GeekStream.Core.ViewModels;

@using Microsoft.AspNetCore.Http;
@model GeekStream.Core.ViewModels.CreateArticleViewModel
@{
    var pageTitle = ViewData["Title"] as string;
}


<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <h4 class="nav-text">
        @pageTitle
        <input type="submit" value="Создать статью" class="right btn btn-geekstream" />
    </h4>

    <br />

    <div class="form-group">
        <label asp-for="Title" class="control-label">Придумайте название статьи</label>
        <input asp-for="Title" class="form-control" placeholder="Придумайте название статьи" />
        <small class="text-muted">Хорошее название может заинтересовать многих читателей</small>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Выберите категорию для статьи</label>
        <select asp-for="CategoryId" class="form-select">
            <option selected disabled value="">Выберите категорию</option>
            @foreach (CategoryViewModel item in ViewBag.Categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <small class="text-muted">Статья может относиться только к одной категории</small>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tags" class="control-label">Теги статьи</label>
        <textarea class="form-control" asp-for="Tags" placeholder="Введите текст статьи" rows="1"></textarea>
        <small class="text-muted">Теги необходимы для поиска статьи</small>
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content" class="control-label">Текст статьи</label>
        <textarea class="form-control" asp-for="Content" placeholder="Введите текст статьи" rows="5"></textarea>
        <small class="text-muted">Текст это центральный объект внимания читателя</small>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="File" class="control-label">Выберите картинку</label>
        <div class="custom-file">
            <input asp-for="File" type="file" class="custom-file-input" id="customFile" />
            <label class="custom-file-label" for="customFile">Выберите картинку для статьи</label>
        </div>
        <small class="text-muted">Привлекательная и подходящая картинка оставит хорошее впечатление о статье</small>
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
