﻿@using GeekStream.Core.Services;
@using GeekStream.Core.ViewModels;
@model GeekStream.Core.ViewModels.ArticleViewModel

@{
    ViewData["Title"] = "Delete";
    ArticleViewModel article = ViewBag.Article;
}

<h1>Удаление</h1>
<hr />
<h3>Уверены, что хотите удалить это?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @article.Title
        </dd>
        <dt class="col-sm-2">
            Контент
        </dt>
        <dd class="col-sm-10">
            @article.Content
        </dd>
    </dl>

    <form asp-action="DeleteArticle">
        <a class="btn btn-outline-danger" href=@Url.Action("DeleteArticle", "Articles", new { Id = article.Id})>Удалить</a>
        <a class="btn btn-outline-secondary" asp-action="Articles" asp-controller="Articles">Back to List</a>
    </form>
</div>
