﻿@using GeekStream.Core.ViewModels;
@model GeekStream.Core.ViewModels.ArticleViewModel
@{ 
    var pageTitle = ViewData["Title"] as string;
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <h4 class="nav-text">
            @pageTitle
            <input type="submit" value="Изменить статью" class="right btn btn-geekstream" />
        </h4>
    </div>

    <br />

    <div class="form-group">
        <input asp-for="Id" type="hidden" class="form-control" value="@Model.Id" />
    </div>

    <div class="form-group">
        <label asp-for="Title" class="control-label">Придумайте название статьи</label>
        <input asp-for="Title" class="form-control" value="@Model.Title" placeholder="Введите название статьи"/>
        <small class="text-muted">Хорошее название может заинтересовать многих читателей</small>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Выберите категорию для статьи</label>
        <select asp-for="Category.Id" class="form-select">
            <option selected disabled value="">Выберите категорию</option>
            @foreach (CategoryViewModel item in ViewBag.Categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <small class="text-muted">Статья может относиться только к одной категории</small>
        <span asp-validation-for="Category.Id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content" class="control-label">Текст статьи</label>
        <textarea class="form-control" asp-for="Content" placeholder="Введите текст статьи" rows="5" value="@Model.Content"></textarea>
        <small class="text-muted">Текст это центральный объект внимания читателя</small>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image.File" class="control-label">Выберите картинку</label>
        <div class="custom-file">
            <input asp-for="Image.File" type="file" class="custom-file-input" id="customFile" required/>
            <label class="custom-file-label" for="customFile">Выберите картинку для статьи</label>
        </div>
        <small class="text-muted">Привлекательная и подходящая картинка оставит хорошее впечатление о статье</small>
        <span asp-validation-for="Image.File" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input class="form-control" asp-for="CreatedDate" type="hidden" value="@Model.CreatedDate" />
    </div>
</form>

<div>
    <a asp-action="Articles" asp-controller="Articles">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
