﻿@model GeekStream.Core.ViewModels.NewPasswordViewModel

@{ 
    var pageTitle = ViewData["Title"] as string;
} 

<style>
    .container-center {
        width: 30%;
        top: 112px;
        margin-right: auto;
        margin-left: auto;
    }
    .card {
        padding-left: 3%;
        padding-right: 3%;
    }
</style>

<div class="container-center card text-dark bg-light rounded">
    <div class="card-body">
        <div class="center form-group">
            <img src="~/Assets/Imgs/Logo.png" />
        </div>
        <h3 class="center">@pageTitle</h3>
        <br />
        <form asp-action="ChangePassword">
            <div class="form-group">
                <input asp-for="Token" type="hidden" />
            </div>

            <div class="form-group">
                <input asp-for="UserId" type="hidden" />
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Придумайте новый пароль</label>
                <input asp-for="Password" type="text" class="form-control" placeholder="Пароль" aria-label="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Повторите пароль еще раз</label>
                <input asp-for="ConfirmPassword" type="text" class="form-control" placeholder="Подтверждение пароля" aria-label="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2">
                <input type="submit" value="Изменить пароль" class="btn btn-geekstream" />
            </div>
        </form>
    </div>
</div>
