﻿@model GeekStream.Core.ViewModels.UserViewModel

@{
    var pageTitle = ViewData["Title"] as string;
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="align-content-md-around">
        <div class="form-group">
            @pageTitle
        </div>

        <input type="hidden" asp-for="@Model.Id" />

        <div class="form-group">
            <input asp-for="@Model.Avatar.File" type="file" class="form-control" placeholder="Выберите картинку для статьи">
            <span asp-validation-for="@Model.Avatar.File" class="text-danger"></span>
        </div>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-label="FirstName" asp-for="@Model.FirstName" value="@Model.FirstName" />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>

            <input type="text" class="form-control closeRight" placeholder="" aria-label="LastName" asp-for="@Model.LastName" value="@Model.LastName" />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>

        <br />
        
        <div class="form-group">
            <input asp-for="@Model.Email" value="@Model.Email" type="text" class="form-control" placeholder="" aria-label="Email" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        
        <br />

        <input type="submit" value="Изменить" class="btn btn-geekstream" />
        <a class="btn btn-outline-secondary" asp-action="Articles" asp-controller="Articles">Назад в профиль</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}