﻿@model GeekStream.Core.ViewModels.ForgetPasswordViewModel

@{ 
    var pageTitle = ViewData["Title"] as string;
}

<style>
    .container-center {
        width: 30%;
        top: 112px;
        margin-right: auto;
        margin-left: auto;
    }
    .card {
        padding-left: 3%;
        padding-right: 3%;
    }
</style>

<div class="container-center card text-dark bg-light rounded">
    <div class="card-body">
        <div class="form-group center">
            <img src="~/Assets/Imgs/Logo.png" width="60" height="60" />
        </div>
        <h3 class="center form-group">@pageTitle</h3>
        <br />
        <div class="nav-text form-group left">
            Мы можем сбросить ваш пароль, а вы придумаете новый. Для этого укажите адрес почты, на которую вы зарегистрировали аккаунт
        </div>
        <br />
        <form asp-action="ForgetPassword">
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label">Адрес электронной почты</label>
                <input asp-for="@Model.Email" type="text" class="form-control" placeholder="Введите email" aria-label="Email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group right">
                <input type="submit" value="Сбросить пароль" class="btn btn-geekstream" />
            </div>
        </form>
    </div>
</div>
