﻿@using GeekStream.Core.Services;
@model GeekStream.Core.ViewModels.LoginViewModel
@{ 
    var pageTitle = ViewData["Title"] as string;
}
<div asp-validation-summary="ModelOnly"></div>
<style>
    .container-center {
        width: 30%;
        top: 112px;
        margin-right: auto;
        margin-left: auto;
    }
    .card {
        padding-left: 3%;
        padding-right: 3%;
    }

</style>

<div class="container-center card text-dark bg-light rounded">
    <div class="card-body">
            <form asp-action="Login">
                <div class="center form-group">
                    <img src="~/Assets/Imgs/Logo.png" width="40" height="40" />
                </div>

                <h3 class="text-center">@pageTitle</h3>
                <br />
                <input asp-for="Email" type="text" class="form-control" placeholder="Почтовый адрес" aria-label="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <br />
                <input asp-for="Password" type="text" class="form-control" placeholder="Пароль" aria-label="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="form-group">
                    <div class="left">
                        <a class="nav-link link-geekstream" asp-action="Registration" asp-controller="Users">Регистрация</a>
                    </div>
                    <div class="right">
                        <a class="nav-link link-geekstream" asp-action="ForgetPassword" asp-controller="Users">Забыли пароль</a>
                    </div>
                </div>

                <br />

                <div class="form-group right">
                    <input type="submit" value="Войти" class="btn btn-geekstream" />
                </div>
            </form>
    </div>
</div>

        
    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
