﻿@using GeekStream.Core.Services;
@model GeekStream.Core.ViewModels.RegistrationViewModel
@{
    var pageTitle = ViewData["Title"] as string;
}
<div asp-validation-summary="ModelOnly"></div>
<style>
    .container-center {
        width: 30%;
        top: 112px;
        margin-right: auto;
        margin-left: auto;
    }
    .card {
        padding-left: 3%;
        padding-right: 3%;
    }
</style>

<div class="container-center card text-dark bg-light rounded">
    <div class="card-body">
        <form asp-action="Registration">
            <div class="center form-group">
                <img src="~/Assets/Imgs/Logo.png" width="40" height="40" />
            </div>

            <h3 class="text-center">@pageTitle</h3>

            <br />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="from-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Имя" aria-label="FirstName" asp-for="FirstName">
                    <input type="text" class="form-control closeRight" placeholder="Фамилия" aria-label="LastName" asp-for="LastName">
                </div>
                <span asp-validation-for="FirstName" class="text-danger left"></span>
                <span asp-validation-for="LastName" class="text-danger right"></span>
            </div>

            <br />

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@@</span>
                    <input type="text" class="form-control" placeholder="Никнейм" aria-label="UserName" asp-for="UserName" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Email" type="text" class="form-control" placeholder="Ваша почта. Мы никому её не скажем" aria-label="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" type="text" class="form-control" placeholder="Пароль" aria-label="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="ConfirmPassword" type="text" class="form-control" placeholder="Подтвердите пароль" aria-label="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="right">
                <input type="submit" value="Создать мой аккаунт" class="btn btn-geekstream" />
            </div>

            <div class="left">
                <a class="nav-link link-geekstream" asp-action="Articles" asp-controller="Articles">Вернуться на главную</a>
            </div>
        </form>
    </div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


