﻿@{
    var pageTitle = ViewData["Title"] as string;
}

<style>
    .container-center {
        width: 30%;
        top: 112px;
        margin-right: auto;
        margin-left: auto;
    }
    .card {
        padding-left: 3%;
        padding-right: 3%;
    }
</style>

<div class="container-center  card text-dark bg-light rounded">
    <div class="card-body">
        <div class="center">
            <img src="~/Assets/Imgs/Logo.png" width="60" height="60" />
            <h3 class="center">@pageTitle</h3>
            <br />
            <div class="nav-text left">
                Мы отправили вам письмо со ссылкой для сброса пароля. Если не нашли его - проверьте папку “Спам”.
            </div>
        </div>
    </div>
</div>