﻿@using GeekStream.Core.ViewModels;
@using System.Security.Claims;
@model GeekStream.Core.ViewModels.UserViewModel

@{
    var isSubscribed = ViewData["isSubscribed"] as bool?;
}

<div class="container-left">
    <h4>Категории</h4>
    @await Html.PartialAsync("_CategoriesSideList", ViewBag.Categories as IEnumerable<CategoryViewModel>)
    @if (User.Identity.IsAuthenticated)
    {

        @if (ViewBag.Subscriptions as IEnumerable<UserViewModel> != null && (ViewBag.Subscriptions as IEnumerable<UserViewModel>).Count() != 0)
        {
            <h4>Подписки</h4>
            @await Html.PartialAsync("_SubscriptionsSideList", ViewBag.Subscriptions as IEnumerable<UserViewModel>)
        }
    }
</div>

<div class="container-right">
    @if (ViewBag.Users as IEnumerable<UserViewModel> != null && (ViewBag.Users as IEnumerable<UserViewModel>).Count() != 0)
    {
        <h4>Подписки</h4>
        @await Html.PartialAsync("_UsersPartialMini", ViewBag.Users as IEnumerable<GeekStream.Core.ViewModels.UserViewModel>)
    }

</div>

<div class="container-center">

    <div>
        <h4>@Model.UserName</h4>
    </div>
    
    <div class="card text-dark bg-light mb-3">
        <div class="card-body">
            <div class="left">
                <div class="row row-cols-auto">
                    <div class="col">
                        @if (Model.Avatar != null)
                        {
                            @if (Model.Confirmed)
                            {
                                <img src="~/@Model.Avatar.Path" class="rounded-circle border-success" width="75" height="75" />
                            }
                            @if (!Model.Confirmed)
                            {
                                <img src="~/@Model.Avatar.Path" class="rounded-circle border-danger" width="75" height="75" />
                            }
                        }
                    </div>
                    <div class="col">
                        <div class="row">
                            <strong>@Model.FirstName @Model.LastName</strong>
                        </div>
                        <div class="row">
                            <strong>@Model.Email</strong>
                        </div>
                    </div>
                </div>     
            </div>

            <div class="right">
                <div class="row row-cols-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (!Model.Confirmed)
                        {
                            <div class="col">
                                <a class="btn btn-geekstream" href=@Url.Action("ConfirmEmail", "Users", new { Email = Model.Email})>Подтвердить</a>
                            </div>
                        }

                        @if (!(User.FindFirst(ClaimTypes.NameIdentifier).Value == Model.Id))
                        {

                            @if (isSubscribed == false)
                            {
                                <div class="col">
                                    <a class="btn btn-geekstream" href=@Url.Action("Subscribe", "Users", new { UserId = Model.Id})>Подписаться</a>
                                </div>
                            }
                            @if (isSubscribed == true)
                            {
                                <div class="col">
                                    <a class="btn btn-geekstream" href=@Url.Action("Unsubscribe", "Users", new { UserId = Model.Id})>Вы подписаны</a>
                                </div>
                            }
                            <div class="col">
                                <a class="btn btn-common" href=@Url.Action("Dialog", "Message", new { UserName = Model.UserName })>Написать сообщение</a>
                            </div>

                        }
                    }
                    <div class="col">
                        <div class="dropdown">
                            <img src="~/Assets/Imgs/Icons/Three dots.png" height="22" width="22" class="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href=@Url.Action("Subscribers", "Users", new { UserId = Model.Id})>Подписчики</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href=@Url.Action("Subscriptions", "Users", new { UserId = Model.Id})>Подписки</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (User.FindFirst(ClaimTypes.NameIdentifier).Value == Model.Id)
                                    {
                                        <li>
                                            <a class="dropdown-item" href=@Url.Action("Edit","Users", new {userId = Model.Id})>Изменить</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href=@Url.Action("ForgetPassword","Users")>Сменить пароль</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>  



    @if ((Model.Articles.Count()) != 0)
    {
        <h3>Статьи от данного автора</h3>
        @await Html.PartialAsync("_ArticleListPartial", Model.Articles);
    }

    @if ((Model.Comments.Count()) != 0)
    {
        <h3>Комментарии</h3>
        @await Html.PartialAsync("_CommentsListPartialUser", Model.Comments);
    }
</div>


