﻿@using GeekStream.Core.ViewModels
@model IEnumerable<GeekStream.Core.ViewModels.UserViewModel>

@{ 
    var subs = ViewBag.Subscriptions as IEnumerable<UserViewModel>;
}

<div class="container-left">
    <h4>Категории</h4>
    @await Html.PartialAsync("_CategoriesSideList", ViewBag.Categories as IEnumerable<CategoryViewModel>)
    @if (User.Identity.IsAuthenticated)
    {
        @if (subs != null && subs.Any())
        {
            <h4>Подписки</h4>
            @await Html.PartialAsync("_SubscriptionsSideList", subs)
        }

    }
</div>

<div class="container-center">
    @await Html.PartialAsync("_UsersPartial")
</div>