﻿<style>
    .container-center {
        width: 30%;
        top: 112px;
        margin-right: auto;
        margin-left: auto;
    }

    .card {
        padding-left: 3%;
        padding-right: 3%;
    }
</style>

<div class="container-center card text-dark bg-light rounded">
    <div class="card-body">
        <div class="center">
            <img src="~/Assets/Imgs/Logo.png" />
            <div class="text-black-50">
                Аккаунт был успешно подтвержден.
            </div>
        </div>
    </div>
</div>
