﻿<style>
    .container-center {
        width: 30%;
        top: 112px;
        margin-right: auto;
        margin-left: auto;
    }

    .card {
        padding-left: 3%;
        padding-right: 3%;
    }
</style>

<div class="container-center card text-dark bg-light rounded">
    <div class="card-body">
        <div class="center">
            <img src="~/Assets/Imgs/Logo.png" />
            <h3 class="center">Письмо подтверждения аккаунта отправлено</h3>
            <div class="text-black-50">
                Мы отправили вам письмо со ссылкой для подтверждения аккаунта. Если не нашли его - проверьте папку “Спам”.
            </div>
        </div>
    </div> 
</div>