﻿@using GeekStream.Core.ViewModels
@model IEnumerable<GeekStream.Core.ViewModels.CategoryViewModel>

@{
    var pageTitle = ViewData["Title"] as string;
}

<div class="container-right">
    <h4>Пользователи</h4>
    @await Html.PartialAsync("_UsersPartialMini", ViewBag.Users as IEnumerable<UserViewModel>)
</div>

<div class="container-center">
    <h4>@pageTitle</h4>
        <div>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Moder"))
            {
                <p>
                    <a class="btn btn-geekstream" asp-action="Create">Создать</a>
                </p>
            }

            @foreach (var item in Model)
            {
                @await Html.PartialAsync("_CategoryCardPartial", item)
            }
        </div>
    </div>


