﻿@using GeekStream.Core.ViewModels
@model GeekStream.Core.ViewModels.CategoryViewModel

@{ 
    var pageTitle = ViewData["Title"] as string;
}

<div class="container-right">
        <h4>Пользователи</h4>
        @await Html.PartialAsync("_UsersPartialMini", ViewBag.Users as IEnumerable<UserViewModel>)
</div>

<div class="container-center">
    <h4>@pageTitle</h4>
    <div class="card text-dark bg-light mb-3">
        <div class="card-body">

            <div class="center">
                <img src="~/Assets/Imgs/Logo.png" />
            </div>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="custom-file">
                        <input asp-for="InputImage" type="file" class="custom-file-input" id="customFile" />
                        <label class="custom-file-label" for="customFile">Выберите аватарку для категории</label>
                    </div>
                    <span asp-validation-for="InputImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="custom-file">
                        <input asp-for="InputBackGroundImage" type="file" class="custom-file-input" id="customFile" />
                        <label class="custom-file-label" for="customFile">Выберите задний фон для категории</label>
                    </div>
                    <span asp-validation-for="InputBackGroundImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Создать категорию" class="btn btn-geekstream" />
                </div>
            </form>
        </div>
    </div>
</div>


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
